{% extends 'base/_base.html' %}
{% load static %}

{% block content %}

<div class="container text-center">
  <h1 class="text-3xl md:text-4xl font-semibold">Є-Телеграм</h1>
  <p class="text-gray-400 mt-2">Твій портал у всесвіт навчання!</p>



    <a href="#" class="block bg-gray-800 hover:bg-gray-700 transition rounded-xl p-4 text-center shadow-md">
      📚 Мої Групи
    </a>
    <a href="#" class="block bg-gray-800 hover:bg-gray-700 transition rounded-xl p-4 text-center shadow-md">
      💬 Форум
    </a>
    <a href="#" class="block bg-gray-800 hover:bg-gray-700 transition rounded-xl p-4 text-center shadow-md">
      📅 Події
    </a>
    <a href="#" class="block bg-gray-800 hover:bg-gray-700 transition rounded-xl p-4 text-center shadow-md">
      📢 Оголошення
    </a>
    <a href="#" class="block bg-gray-800 hover:bg-gray-700 transition rounded-xl p-4 text-center shadow-md">
      📝 Опитування
    </a>
    <a href="#" class="block bg-gray-800 hover:bg-gray-700 transition rounded-xl p-4 text-center shadow-md">
      📂 Матеріали
    </a>
  </div>

</div>

{% endblock %}
