{% extends 'base/_base.html' %}
{% load static %}

{% block content %}
<div class="max-w-3xl mx-auto mt-28 p-8 bg-white dark:bg-gray-800 shadow-md rounded-2xl">
  <h1 class="text-3xl font-bold text-gray-900 dark:text-white mb-4">{{ data.title }}</h1>

  <p class="text-gray-700 dark:text-gray-300 mb-2">{{ data.description }}</p>
  <p class="text-gray-600 dark:text-gray-400 mb-6"><strong>Рейтинг:</strong> {{ data.rating }}</p>


    {% if data.answer_set.all %}
      <div class="space-y-2">
        {% for answer in data.answer_set.all %}
          <label class="flex items-center space-x-2 text-gray-800 dark:text-gray-200">
            <input type="radio" name="answer" value="{{ answer.id }}" class="form-radio text-blue-600">
            <span>{{ answer.title }}</span>
          </label>
        {% endfor %}
      </div>
    {% else %}
      <p class="text-gray-500 dark:text-gray-400">Наразі відповіді недоступні.</p>
    {% endif %}

    <div class="pt-6 text-center">
    <a href={% url "voting" session_id=data.id %}>
      <button type="submit"
              class="px-6 py-2 bg-blue-600 text-white font-semibold rounded-lg shadow hover:bg-blue-700 transition">
        Надіслати
      </button>
    </a>
    </div>
</div>
{% endblock %}
