{% extends 'base/_base.html' %}

{% block content %}
  <h2>Media List</h2>

    {% for media in media_list %}
      <li>
        {% if media.is_image %}
          <img src="{{ media.media.url }}" alt="{{ media.title }}" width="320">
        {% elif media.is_video %}
          <video width="320" height="240" controls>
            <source src="{{ media.media.url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        {% else %}
          <a href="{{ media.media.url }}">{{ media.media.name }}</a>
        {% endif %}
        <p>Title: {{ media.title }}</p>
        <p>Description: {{ media.description }}</p>
        <p>Author: {{ media.author.username }}</p>
        <p>Created at: {{ media.created_at }}</p>
      </li>
    
    {% endfor %}
{% endblock %}
