{% extends 'base/_base.html' %}


{% load crispy_forms_tags %}

{% block content %}
<div class="flex justify-center items-center h-full py-28">
    <div class="bg-[#3b3d3b] p-8 rounded-lg shadow-md w-96">
        <form method="POST">
            {% csrf_token %}
            <div class="space-y-4">
                {% for field in form %}
                <div class="space-y-2">
                    <label class="block text-sm font-medium text-white" for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>
                    {{ field }}
                </div>
                {% endfor %}
            </div>
            <button class="bg-teal-400 w-full py-2 mt-6 rounded-md" type="submit">Увійти</button>
            <p class="mt-4 text-sm text-[#cdd6f4] text-center">
                Немає облікового запису?
                <a class="underline hover:text-teal-400" href="{% url 'register' %}">Зареєструватися</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}
