<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href={% url 'index' %}>Є-Телеграм</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'branch_list' %}">Форум</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'list_events' %}>Події</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Оголошення</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'quiz_list' %}>Опитування</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'voting_list' %}>Голосування</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'media_list' %}>Галерея</a>
        </li>
          {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ request.user.username  }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href={% url 'profile' id=request.user.id %}>Профіль</a></li>
            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Вихід</button>
                </form>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={% url 'grades_list' %}>Оцінки</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Аккаунти
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href={% url 'login' %}>Логін</a></li>
            <li><a class="dropdown-item" href={% url 'register' %}>Реєстрація</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>