<nav class="fixed bg-[#2e3133] flex flex-row items-center px-4 space-x-5 w-screen h-16 text-white ">
  <a href="{% url 'index' %}" class="group cursor-pointer">
    <div class="max-w-max h-10">
      <h5 class="text-2xl font-bold">ETelegram</h5>
    </div>
  </a>
  <a href="{% url 'branch_list' %}" class="group cursor-pointer">
    <div class="max-w-max h-7 hover:text-teal-400 transform hover:scale-105 transition duration-300">
      <h5 class="text-base font-extrabold">Форум</h5>
    </div>
  </a>
  <a href="{% url 'media_list' %}" class="group cursor-pointer">
    <div class="max-w-max h-7 hover:text-teal-400 transform hover:scale-105 transition duration-300">
      <h5 class="text-base font-extrabold">Галерея</h5>
    </div>
  </a>
  <a href="{% url 'list_events' %}" class="group cursor-pointer">
    <div class="max-w-max h-7 hover:text-teal-400 transform hover:scale-105 transition duration-300">
      <h5 class="text-base font-extrabold">Події</h5>
    </div>
  </a>
  <a href="#" class="group cursor-pointer">
    <div class="max-w-max h-7 hover:text-teal-400 transform hover:scale-105 transition duration-300">
      <h5 class="text-base font-extrabold">Оголошення</h5>
    </div>
  </a>
  <a href="{% url 'voting_list' %}" class="group cursor-pointer">
    <div class="max-w-max h-7 hover:text-teal-400 transform hover:scale-105 transition duration-300">
      <h5 class="text-base font-extrabold">Голосування</h5>
    </div>
  </a>
  <a href="{% url 'quiz_list' %}" class="group cursor-pointer">
    <div class="max-w-max h-7 hover:text-teal-400 transform hover:scale-105 transition duration-300">
      <h5 class="text-base font-extrabold">Опитування</h5>
    </div>
  <a href="{% url 'grades_list' %}" class="group cursor-pointer">
    <div class="max-w-max h-7 hover:text-teal-400 transform hover:scale-105 transition duration-300">
      <h5 class="text-base font-extrabold">Оцінки</h5>
    </div>
  </a>
  <a href="#" class="group cursor-pointer">
    <div class="max-w-max h-7 hover:text-teal-400 transform hover:scale-105 transition duration-300">
      <h5 class="text-base font-extrabold">Матеріали</h5>
    </div>
  </a>
</nav>

