{% extends 'base.html' %}

{% block head %}
<style>
    body {
        background: #e0f7fa !important;
    }
    .container {
        margin-top: 500px; /* Збільшено значення margin-top */
    }
</style>
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Create a Post</h3>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_title" class="form-label">Title</label>
                            {{ form.title }}
                        </div>
                        <div class="mb-3">
                            <label for="id_description" class="form-label">Description</label>
                            {{ form.description }}
                        </div>
                        <div class="mb-3">
                            <label for="id_media" class="form-label">Media</label>
                            {{ form.media }}
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
